.order-page-container {
    background-color: rgb(242, 242, 242);
    padding: 2rem;
    min-height: 100%;
    height: max-content;
    overflow: hidden;
}

.order-wrap {
    margin: 0 auto;
    width: max-content;
}

.order-button {
    border: none;
    background-color: rgb(93, 156, 0);
    color: rgb(255, 255, 255);
    font-family: "Rubik", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.order-button:hover {
    cursor: pointer;
    background-color: rgb(128, 197, 26);
}

.order-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.total-sum {
    font-size: 2rem;
}

.total-text {
    font-size: 2rem;
}

.empty-order {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
}

.empty-order h2 {
    color: rgb(108, 108, 108);
}

.cant-order {
    background-color: rgb(158, 158, 158);
}

.cant-order:hover {
    cursor: not-allowed;
}

.order-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.order-success-message-container {
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1.5rem;
    box-sizing: border-box;
}

.order-success-message-container h3 {
    margin: 0;
    text-align: center;
}

.success-message {
    margin: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
}

.back-button {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(196, 196, 196);
    width: max-content;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    transition: all 0.2s;
}

.back-button:hover {
    cursor: pointer;
    background-color: rgb(219, 247, 255);
    border:2px solid rgb(116, 205, 243);
    box-shadow: 0 0 5px 5px rgba(135, 135, 135, 0.062);
}

.arrow-back {
    width: 1rem;
}