.home-container {
    width: 100%;
    margin: 0 auto;
}

.hero {
    background: rgba(0, 0, 0, 0.3) url("../../assets/homePage/hero-background.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
}

.logo {
    width: 250px;
    filter: invert(1);
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hero-title {
    color: white;
    font-size: 3.3rem;
    font-weight: 900;
}

.green-button {
    border: none;
    background-color: rgb(106, 169, 13);
    color: rgb(255, 255, 255);
    font-family: "Rubik", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.1rem;
    padding: 0.8rem 1.2rem;
    border-radius: 30px;
    transition: all 0.2s;
}

.green-button:hover {
    cursor: pointer;
    background-color: rgb(128, 197, 26);
    transform: translateY(-3px);
}

.home-button {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 400;
    bottom: 100px;
}

.restaurant, .staff {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    overflow: hidden;
    gap: 4rem;
}

.restaurant {
    padding-top: 4rem;
}

.staff {
    margin-top: -70px;
    padding: 2rem;
}

.restaurant-text, .staff-text {
    max-width: 400px;
}

.restaurant-text {
    margin-bottom: auto;
    margin-top: 4rem;
}

.restaurant-img, .staff-img {
    width: 600px;
    height: auto;
}

.staff {
    height: 600px;
    display: flex;
    background-color: rgb(227, 253, 218);
}

.locations, .apply {
    margin-top: 1.6rem;
}
