.order-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.ordered-item {
    padding: 0.5rem 0;
    box-shadow: 0 0 10px 5px rgba(135, 135, 135, 0.062);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.7rem;
}

.ordered-item-flex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.order-item-title {
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ordered-item-text-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
}

.ordered-amount {
    color: rgb(151, 151, 151);
}

.order-item-price {
    font-size: 1.5rem;
    text-align: end;
    white-space: nowrap;
}

.removed-ingredients {
    background-color: rgb(254, 207, 119);
    color: rgb(79, 79, 79);
    padding: 0.3rem 1rem;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
    margin-top: 0.5rem;
}

.remove-icon-order, .add-icon-order {
    width: 1.5rem;
}

.remove-icon-order, .add-icon-order:hover {
    cursor: pointer;
}

.order-amount {
    padding: 0.1rem 0.3rem;
    max-width: max-content;
    margin: 0.5rem 0 0 auto;
}
